<div id="login-body">
  <div id="login-wrapper">
    <p-messages [(value)]="msgs" [hidden]="msgs === []"></p-messages>
    <img class="logo" src="./assets/logo.png">
    <div id="login-container">
      <form #f="ngForm" autocomplete="off" (ngSubmit)="enviar(f)" >
        <p-message severity="info" text="Insira o seu login abaixo e nós iremos enviar-lhe uma nova senha!"></p-message>
        <div class="ui-g ui-fluid">
          <div class="ui-g-12">
            <p-inputMask type="text" mask="99999999999" placeholder="login" [(ngModel)]="login.cpf" name="login" required maxlength="11"></p-inputMask>
          </div>
          <div class="ui-g-12">
            <button pButton type="submit" label="Enviar" [disabled]="f.invalid"></button>
            <div class="ui-g-12">
              <a routerLink="/login">Voltar para o login</a>
            </div>
          </div>
        </div>
      </form>
    </div>
      <div class="login-footer">© Copyright © 2017 | Desenvolvido pela Info Rio Sistemas Ltda. Todos os direitos reservados.</div>
  </div>
</div>
