<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-messages [(value)]="msgs" [hidden]="msgs === []"></p-messages>
    </div>
    <div class="ui-g-12">
      <h1>Alterar senha</h1>
    </div>
    <div class="ui-g-12">
      <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
        <div class="ui-g-12  ui-md-6  ui-fluid">
          <label class="label  label-input">login</label>
          <input pInputText type="text" [(ngModel)]="usuario.cpf" #cpf="ngModel" name="cpf" required minlength="11" maxlength="11" disabled>

          <app-message-error [control]="cpf" error="required" message="Informe o login"></app-message-error>
          <app-message-error [control]="cpf" error="minlength" message="login deve conter {{cpf.errors?.minlength?.requiredLength}} numeros"></app-message-error>
        </div>
        <div class="ui-g-12  ui-md-6  ui-fluid">
          <label class="label  label-input">Senha atual</label>
          <input pInputText type="password" [(ngModel)]="usuario.senhaAtual" ngModel #atual="ngModel" name="atual" required>

          <app-message-error [control]="atual" error="required" message="Informe o senha atual"></app-message-error>
        </div>
        <div class="ui-g-12  ui-md-6  ui-fluid">
          <label class="label  label-input">Nova senha</label>
          <input pInputText type="password" [(ngModel)]="usuario.novaSenha" #novasenha="ngModel" name="novasenha" required>

          <app-message-error [control]="novasenha" error="required" message="Informe a nova senha"></app-message-error>
        </div>
        <div class="ui-g-12  ui-md-6  ui-fluid">
          <label class="label  label-input">Confirmação de senha</label>
          <input pInputText type="password" [(ngModel)]="usuario.confirmacaoSenha" #confirmacaosenha="ngModel" name="confirmacaosenha" required>

          <app-message-error [control]="confirmacaosenha" error="required" message="Informe a confirmação de senha"></app-message-error>
        </div>
        <button pButton value="submit" label="enviar" [disabled]="f.invalid"></button>
      </form>
    </div>
  </div>
</div>
